
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #F5DEB3;
  display:flow-root;
  flex-direction: row;
  align-items:center;
  padding: 10px;
}

.logo img {
  max-width: 200px;
}

nav {
  background-color: #333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: greenyellow;
}



main {
  padding: 20px;
}

.slider {
  margin-bottom: 20px;
}

.slider img {
  max-width: 100%;
}

.advertisements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ad {
  flex-basis: 33.33%;
  padding: 10px;
}

.ad img {
  max-width: 100%;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.slider {
  
  white-space: nowrap;
  width: 100%;
}

.slider img {
  display: inline-block;
  width: 33.33%;
  height: auto;
}
